/*anim para el movimiento de mi nombre*/
@keyframes yoTitulo {
    from { /* inicio de animacion */
        transform: translateX(200px);
    }
  
    to { /* final de la animacion */
        transform: translateX(0);
    }
}

/*anim para la aparicion del texto*/
@keyframes bienvenida {
    from { 
        width: 0;
    }
  
    to {
        width: 530px;
    }
}

/*anim para la expacion del proyecto*/
@keyframes projecto {
    from { 
        width: 24%;
    }
  
    to {
        width: 27%;
    }
}

/*anim para la disminucion del proyecto*/
@keyframes projectoSal {
    from { 
        width: 27%;
    }
  
    to {
        width: 24%;
    }
}

/*anim para agrandar las imagenes del proyecto*/
@keyframes projectoImg {
    from { 
        height: 160px;
    }
  
    to {
        height: 180px;
    }
}