@media screen and (max-width: 600px) {

    /* ESTILOS DEL NAV */
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: wheat;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding-top: 25px;
        padding-right: 50px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        position: relative;
    }

    .nav-list li a {
        color: #ecececec;
    }



    /* ESTILOS PARA EL RESTO DE LA PAGINA*/
    .contenido {
        width: 90%;
        margin: auto;
    }

    h2 {
        font-family: "Rowdies", sans-serif;
        font-size: 40px;
        margin-bottom: 15px;
        color: #69347ec2;
    }

    h2 span {
        font-family: "Rowdies", sans-serif;
        font-size: 40px;
        margin-bottom: 15px;
        color: #02fea0;
        width: 500px;
    }

    /*SECCIONES*/
    /*ESTILOS PARA LA SECCION YO*/
    #yo {
        padding-top: 150px;
    }

    #yo h2 {
        animation-duration: 2.5s;
        animation-name: yoTitulo;
    }

    .bienvenida {
        overflow: hidden;
        white-space: nowrap;
        animation-duration: 5s;
        animation-name: bienvenida;
        color: darkgray;
        margin-bottom: 10px;
    }

    .gmail {
        color: #8099ca;
        margin-bottom: 20px;
    }

    .btnDownload {
        padding: 10px;
        background-color: #2eb74c;
        border-radius: 15px;
        box-shadow: 2px 2px #00000052;
        color: #012a07;
        font-weight: bold;
    }

    .imgYo {
        width: 60px;
        margin-top: 30px;
        margin-right: 20px;
        background-color: white;
        border-radius: 10%;
    }

    /*ESTILOS PARA LA SECCION sobreMi*/
    #sobreMi {
        padding-top: 50px;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    #sobreMi .sobreMi {
        color: #ef6d1c;
        font-size: 18px;
        width: 90%;
    }

    #sobreMi .importante {
        margin-top: 20px;
        font-size: 21px;
        font-weight: bold;
        width: 90%;
        text-shadow: 17px 20px 7px #ad52d1c2;
        color: #02fea0;
    }


    /*ESTILOS DE PROYECTOS*/
    #proyectos {
        padding-top: 50px;
        margin-bottom: 100px;
    }

    
    .separado {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1%;
    }

    .proyecto {
        margin: auto;
        width: 75%;
        background-color: #2f9fa5;

        margin-bottom: 15px;
        border-radius: 10px;

        /* duracion de la animacio */
        animation-name: none;
    }

    .titulo {
        text-align: center;
        font-size: 20px;
        margin: 8px;
    }

    .titulo a {
        font-family: "Rowdies", sans-serif;
        font-weight: 700;
        color: #000000;
    }

    .img-proyecto {
        width: 100%;
        height: 160px;
    }

    .descripcion {
        padding: 10px;
        font-size: 15px;
    }

    /*ESTILOS DE EDUCACION*/
    #educacion {
        padding-top: 100px;
        margin-bottom: 100px;
    }

    .info {
        margin: 15px 0;
    }

    .info div {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .info .eduTitulo {
        font-size: 23px;
        font-weight: bolder;
        color: #ab49a7;
        text-shadow: 7px 4px 6px black;
    }

    .info p {
        font-size: 18px;
        font-weight: 500;
    }

    .info .eduEnCurso {
        color: #d1c73c;
    }

    .info .eduTiempo {
        color: #4bf94b;
    }

    .info .educacion {
        color: #f29111;
        text-shadow: 4px 3px 5px #00758f;
    }

    /*ESTILOS DE HABILIDADES*/
    #habilidades {
        padding-top: 100px;
    }

    #habilidades .muestraPorcentaje,
    #habilidades .habilidad {
        display: flex;
        justify-content: center;
        width: 500px;
    }

    .habilidad img {
        height: 100px;
        margin: 5px 10px 0;
    }

    /*ESTILOS DE CONTACTOS*/
    #contactos {
        margin-top: 200px;
    }

    #contactos div {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    #contactos div p {
        font-size: 18px;
    }

    #contactos div img {
        width: 20px;
        margin-right: 20px;
    }

    .final {
        width: 60%;
        font-size: 31px;
        text-shadow: 20px 19px 10px #ad52d1c2;
        color: #02fea0;
    }

    .finalImg {
        width: 69px;
        margin: 10px 30px;
        margin-bottom: 50px;
    }

}