* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Merriweather Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
}

/* ESTILOS PARA EL NAV */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

nav {
    width: 90%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-list li a {
    text-decoration: none;
    font-size-adjust: 15px;
    font-weight: 500;
}

.link-ubicacion:hover {
    font-weight: 900;
    font-size: 20px;
}

.nav-list li a.activado {
    font-weight: 900;
    font-size: 20px;
}


.abrir-menu,
.cerrar-menu {
    display: none;
}


/*ESTILOS PARA EL BOTON ON/OFF*/
.toggleContainer {
    position: relative;
    width: 70px;
    height: 30px;
    flex: 1;
}

.desacClick {
    pointer-events: none;
}

.toggle {
    position: absolute;
    width: 0;
    height: 0;
    /*antes de estar activo*/
    &+.switch {
        position: relative;
        display: block;
        background: rgb(255, 255, 255);
        width: 70px;
        height: 30px;
        cursor: pointer;
        border-radius: 30px;
        transition: 0.5s;
    }
    &:checked+.switch {
        background: rgb(83 46 46);
    }

    /*despues de estar activo*/
    &+.switch:before {
        content: "";
        position: absolute;
        width: 28px;
        height: 28px;
        top: 50%;
        transform: translateY(-50%);
        background: #000000;
        border-radius: 50%;
        margin: 0px 2px;
        left: 0%;
        transition: 1s;
    }
    &:checked+.switch:before {
        left: 100%;
        transform: translate(calc(-100% - 2px), -50%);
        background: #ffffff;
    }
}

/* ESTILOS PARA EL RESTO DE LA PAGINA*/
.contenido {
    width: 90%;
    margin: auto;

}

h2 {
    font-family: "Rowdies", sans-serif;
    font-size: 50px;
    margin-bottom: 15px;
    width: 500px;
}

h2 span {
    font-family: "Rowdies", sans-serif;
    font-size: 50px;
    margin-bottom: 15px;
    width: 500px;

}

/*SECCIONES*/


/*ESTILOS PARA LA SECCION YO*/
#yo {
    padding-top: 200px;
}

#yo h2 {
    animation-duration: 2.5s;
    animation-name: yoTitulo;
}

.bienvenida {
    overflow: hidden;
    white-space: nowrap;
    animation-duration: 5s;
    animation-name: bienvenida;
    margin-bottom: 10px;
    font-size: 18px;
}

.gmail {
    margin-bottom: 20px;
}

.btnDownload {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px #00000052;
    font-weight: bold;
}

.imgYo {
    width: 60px;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 10%;
}

/*ESTILOS PARA LA SECCION sobreMi*/
#sobreMi {
    padding-top: 100px;
    margin-top: 150px;
    margin-bottom: 150px;
}

#sobreMi .sobreMi {
    font-size: 20px;
    width: 83%;
    text-align: justify;
}

#sobreMi .importante {
    margin-top: 20px;
    font-size: 21px;
    font-weight: bold;
    width: 1020px;
}


/*ESTILOS DE PROYECTOS*/
#proyectos {
    padding-top: 100px;
    margin-bottom: 100px;
}

.separado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
}

.proyecto {
    width: 24%;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5px;
}

/*AGREGANDO ANIMACIONES SOLO PARA PC*/
@media screen and (min-width: 601px) {
    .proyecto {
        animation-duration: 0.25s;
        /* duracion de la animacio */
        animation-name: projectoSal;
        /* nombre de la funcion para animar */
    }

    .proyecto:hover {
        width: 27%;
        animation-duration: 1s;
        animation-name: projecto;
    }

    .proyecto:hover .img-proyecto {
        width: 94%;
        animation-duration: 1s;
        animation-name: projectoImg;
        height: 180px;

    }
}

.titulo {
    text-align: center;
    font-size: 20px;
    margin: 8px;
}

.titulo a {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
}

.img-proyecto {
    width: 94%;
    height: 160px;
}

.descripcion {
    padding: 10px;
    font-size: 15px;
}

/*ESTILOS DE EDUCACION*/
#educacion {
    padding-top: 100px;
    margin-bottom: 100px;
}

.info {
    margin: 15px 0;
}

.info div {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 5px;
    font-weight: bold;
}

.info .eduTitulo {
    font-size: 23px;
    font-weight: bolder;
}

.info p {
    font-size: 18px;
    font-weight: 900;
}

/*ESTILOS DE HABILIDADES*/
#habilidades {
    padding-top: 100px;
}

#habilidades .muestraPorcentaje,
#habilidades .habilidad {
    display: flex;
    justify-content: center;
    width: 500px;
}

.habilidad img {
    height: 100px;
    margin: 5px 10px 0;
}

/*ESTILOS DE CONTACTOS*/
#contactos {
    margin-top: 200px;
}

#contactos div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#contactos div p {
    font-size: 18px;
}

#contactos div img {
    width: 20px;
    margin-right: 20px;
}

.final {
    width: 60%;
    font-size: 31px;
}

.finalImg {
    width: 69px;
    margin: 10px 30px;
    margin-bottom: 50px;
}